<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>Open in Mona</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="OpenInMona.css">
                </head>
    <body>
        <div class="vertical-center">
            <a id="open_in_app" href="<%= app_url %>">Open in Mona</a>
            <br><br><br>
            <a id="open_original_website" href="<%= website_url %>"><%= website_url_label %></a>
        </div>
    </body>
</html>
